{
  "singleQuote": false,
  "trailingComma": "es5",
  "semi": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^react$", "^[~/]", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
